@use "./variables";

@media only screen and (max-width: 595px) {
  .container {
    padding: 0 40px;
  }
  .header {
    padding-top: 48px;
    height: 567px;
    .navbar {
      ul,
      .header-btn {
        display: none;
      }
    }
    .hamburber {
      display: block;
    }
    .hero {
      margin-top: 80px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 18px;
      text-align: center;
      h1 {
        @include variables.text-style(700, 40px, 40px, #fff);
        max-width: 247px;
      }
      .hero__content {
        .hero__hr {
          display: none;
        }
        p {
          @include variables.text-style(600, 15px, 28px, #fff);

          max-width: 327px;
        }
      }
    }
    .disk-left {
      display: none;
    }
    .disk-buttom {
      right: 50%;
      transform: translateX(50%);
      max-width: 100%;
      padding: 0 40px;
    }
    #hamburber-menu {
      display: none;
      position: fixed;
      width: 70%;
      height: 100vh;
      background-color: #2c6269;
      top: 0;
      right: 0;
      z-index: 2;
      padding: 122px 48px;

      .x {
        position: relative;
        top: -62px;
        right: -96%;
        z-index: 44;
      }
      li {
        padding-bottom: 24px;
      }
      a {
        @include variables.text-style(600, 18px, 28px, #fff);
      }
      .hamburber__img {
        position: fixed;
        bottom: 1%;
        right: 0;
      }
      .mobile-header-btn {
        margin-top: 36px;
      }
    }
  }
  .build {
    &__main {
      flex-direction: column;
      align-items: center;
      padding: 64px 0;
    }
    &__title {
      margin-left: 24px;
      margin-top: 64px;
      margin-bottom: 56px;
      align-self: flex-start;
      max-width: 240px;
      h2 {
        @include variables.text-style(700, 32px, 32px, #fff);
      }
    }
    &__img {
      top: 0;
    }
    &__text {
      flex-direction: column;
      align-items: center;
      text-align: center;
      p {
        max-width: 327px;
      }
    }
  }
}
