@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin text-style($weight, $size, $height, $color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}
